h1 {
  color: black;
  font-family: 'Work Sans', sans-serif;
}

p{
  font-family: 'Work Sans', sans-serif;
  font-size: 70%
}

.sitebox {
  margin: 40px;
}

html,
body,
div 
{   
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.sitebox_inner {
  background: white;
  border-style: dashed;
  border-color: blue; 
  border-width: 4px;
  height: calc(100% - 100px);
  padding: 40px;
  position: absolute;
  width: calc(100% - 100px);
  z-index: 100;
  box-shadow: 5px 10px #888888;
}

.sitebox_blog{
  font-family: 'Work Sans', sans-serif;
  background-color: pink;
  text-align: center;
  position: absolute;
  width: 8vw;
  height: 5vw;
  right: 0px;
  top: 0px;
  padding-top:1.7vw;
  box-shadow: -3px 3px #888888;
}

.sitebox_recent{
  font-family: 'Work Sans', sans-serif;
  background-color: pink;
  text-align: center;
  position: absolute;
  width: 8vw;
  height: 5vw;
  bottom: 0px;
  left: 0px;
  padding-top:2vw;
  box-shadow: 3px 0px #888888;
}

.sitebox_text {
    font-size: 28px;
    margin: 0 auto;
    max-width: 720px;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.sitebox:before {
    background: yellow;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vw;
}

.sitebox:after {
    background: yellow;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25vw;
    height: 25vw
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid yellow;
    box-shadow: 0px -4px 0px yellow inset;
}

a:hover {
    background-color: yellow;
  }

a:visited {
    color: black;
}

/* a.corner_link{
  border-bottom: none;
  box-shadow: none;
}

a.corner_link:hover {
    background-color: yellow;
  } */

  
/* temporarily hiding the buttons, might want to add them back in the future.
.sitebox_button {
  border: 1px solid pink;
}

.sitebox_button:hover{
  background-color: yellow;
  border: 1px solid grey;
} */

@media (max-width: 600px) {
    .sitebox {
        margin: 20px;
    }
  
    h1 {
      font-size: 1.5em;
  }
    .sitebox_text {
      font-size: 1em !important;
  }
  
    .sitebox_button {
      height:6vh;
      width: 16vw;
  }
}
